In [5]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('funda.csv', sep=';')
df.head()

,id,address,area,bedrooms,postal_code,posting_date,price,property_type,rooms,sale_date,url,year_built
0,0,Knollendamstraat 4 III/IV,108,2,1013 TN,04-06-2016,510000,apartment,3,23-06-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1906
1,1,Moerdijkstraat 47 1,47,1,1079 XM,22-06-2016,215000,apartment,2,05-07-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1938
2,2,Zeeburgerdijk 349,116,2,1095 AD,09-06-2016,325000,apartment,3,08-07-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,2003
3,3,Brederodestraat 124 -1,58,2,1054 VH,14-05-2016,315000,apartment,3,02-06-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1910
4,4,Admiraal De Ruijterweg 409 III,63,1,1055 MD,14-06-2016,200000,apartment,3,23-06-2016,http://www.funda.nl/koop/verkocht/amsterdam/ap...,1906

In [58]:
df_subset = df[df['price'] > 10000]
print(df_subset.head())

   id                         address  area  bedrooms postal_code  \
0   0       Knollendamstraat 4 III/IV   108         2     1013 TN
1   1             Moerdijkstraat 47 1    47         1     1079 XM
2   2               Zeeburgerdijk 349   116         2     1095 AD
3   3          Brederodestraat 124 -1    58         2     1054 VH
4   4  Admiraal De Ruijterweg 409 III    63         1     1055 MD

  posting_date   price property_type  rooms   sale_date  \
0   04-06-2016  510000     apartment      3  23-06-2016
1   22-06-2016  215000     apartment      2  05-07-2016
2   09-06-2016  325000     apartment      3  08-07-2016
3   14-05-2016  315000     apartment      3  02-06-2016
4   14-06-2016  200000     apartment      3  23-06-2016

                                                 url  year_built
0  http://www.funda.nl/koop/verkocht/amsterdam/ap...        1906
1  http://www.funda.nl/koop/verkocht/amsterdam/ap...        1938
2  http://www.funda.nl/koop/verkocht/amsterdam/ap...        2003
3  http://www.funda.nl/koop/verkocht/amsterdam/ap...        1910
4  http://www.funda.nl/koop/verkocht/amsterdam/ap...        1906

In [ ]:
sns.pairplot(df_subset)
plt.show() #using Matplotlib to show the plot

In [ ]:
sns.lmplot(x='price', y='rooms', fit_reg=False, data=df) #fit_reg=False leaves out the regression line; see below
plt.xlabel('Subscribers (millions)') #use matplotlib to refine Seaborn plot
plt.ylabel('Views (millions)')
plt.title('YouTube channels subscribers and views')
plt.show()