## Datacleaning exercise

Import all stuff

In [51]:
import pandas as pd

In [54]:
df_steps = pd.read_csv('steps.csv', sep=';') # ; seperator

In [55]:
df_survey = pd.read_csv('survey.csv')

In [20]:
df = pd.merge(df_survey, df_steps, on = 'id') #'id' is the common identifier

,id,city,gender,age,hh_size,education,education_1,height,weight,20-6-2013,...,4-5-2014,5-5-2014,6-5-2014,7-5-2014,8-5-2014,9-5-2014,10-5-2014,11-5-2014,12-5-2014,13-5-2014
0,1,Bordeaux,Male,25-34,4,4,Master or doctorate,178.0,98.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Lille,Male,35-44,1,3,Bachelor,180.0,77.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Montpellier,Male,25-34,2,2,Master or doctorate,180.0,83.0,NaN,...,3914.0,4364.0,NaN,NaN,NaN,6227.0,4567.0,2567.0,1129.0,NaN
3,4,Lyon,Male,<25,1,1,Bachelor,178.0,80.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Montpellier,Female,25-34,3,4,Bachelor,167.0,61.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
print(df["height"],df["weight"].sort_values())

0      178.0
1      180.0
2      180.0
3      178.0
4      167.0
       ...
924    165.0
925    192.0
926    181.0
927    172.0
928    180.0
Name: height, Length: 929, dtype: float64 755    46.0
181    46.0
585    46.0
32     47.0
170    47.0
       ...
630     NaN
633     NaN
840     NaN
841     NaN
923     NaN
Name: weight, Length: 929, dtype: float64

In [49]:
def above_5(x):
    if(x > 155.0 or x < 45.0 ): 
        return float('NaN')
    else: 
        return x

df['weight'] = df['weight'].apply(above_5)
df["weight"].sort_values()

755    46.0
181    46.0
585    46.0
32     47.0
170    47.0
       ...
630     NaN
633     NaN
840     NaN
841     NaN
923     NaN
Name: weight, Length: 929, dtype: float64